.main {
  text-align: center;
}
.headingBox {
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  display: inline-block;
  background-color: var(--red);
  cursor:default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heading {
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
  padding: 0 100px;
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 150px;
	color: rgba(0, 0, 0, 0.1);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
	0% {
		background-position: -300px;
	}
	100% {
		background-position: 600px;
	}
}

.text {
  color: var(--white);
  margin: 5% 0;
}
.btn {
  display: block;
  width: 150px;
  font-weight: bold;
  padding: 8px 0;
  margin: 20px auto;
  background: var(--red);
  border-radius: 4px;
  color: var(--black);
}